<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="NumeFisierClienti" value="path_clients_file.txt" />
      <add key="NumeFisierProduse" value="path_products_file.txt" />
    </appSettings>
</configuration>